* {
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  h2 {
    font-size: 50px;
    text-transform: uppercase;
    margin: 0;
  }
  
  .container-img {
    background-image: url('dashboard.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1900px;
    height: 100%;
    filter:blur(2px)
  }
  
  .container-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    width: 60%;
    padding: 40px 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    border: 15px solid white;
  }
  
  .container-text h6 {
    padding: 0 8%;
    font-family: 'Merienda', cursive;
  }
  