<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"></div>
</head>

<body>
<div th:replace="fragments/header :: navbar"></div>

<p th:text="${msg}"></p>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <form action="#" th:action="@{/save-category}" th:object="${category}" method="post">
                <div class="row">
                    <div class="form-group col-md-8">
                        <label for="name" class="col-form-label">Category Name</label>
                        <input type="text" th:field="*{name}" class="form-control" id="name"
                               placeholder="Category Name"/>
                    </div>
                    <div class="col-md-6">
                        <input type="submit" class="btn btn-primary" value=" Submit ">
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
