<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/Dashbord :: header"></div>
</head>

<body>
<div th:replace="fragments/Dashbord :: navbar"></div>

      <p th:text="${msg}"></p>

  </header>
   <div class ="container text-center my-5">
    <h2>Payment Information</h2>
     <div class="this-wont-center" style="display: flex; justify-content: center; align-items: center;">
    <h3 class="text-inside-will-center" th:text="${msg}"></h3>
      </div>
   <table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Tracking Number</th>
      <th scope="col">Order Status</th>
      <th scope="col">Payment</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="b : ${res}">
      <td th:text="${b.orderTackingNumber}"></td>
       <td th:text="${b.status}"></td>
        <td th:text="${b.message}"></td>
    </tr>
   </tr>
  </tbody>
</table>
 </div>  
    
  </body>
</html>