<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
   
   <link rel="stylesheet" type ="text/css" href="../static/css/reg.css">
    <title>eCommerce</title>
    <script>
      function validateForm() {
        const password = document.getElementById('password').value;
        const confirmPassword = document.getElementById('confirmPassword').value;
        if (password !== confirmPassword) {
          alert('Password and Confirm Password must match.');
          return false; // Prevent form submission
        }
        return true; // Allow form submission
      }
    </script>
    
    
  </head>
  <body>
    
 <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
           

            <li class="nav-item ">
            <a class="nav-link"aria-current="page" href="getSubCategoryUser">Teams</a>
            </li>

          <li class="nav-item ">
              <a class="nav-link"aria-current="page" href="aboutus">About Us</a>

          </li>
       
          </ul>
           <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">
            <li class="nav-item">
            <a class="nav-link" aria-current="page" href="SignIn">Login</a>
            </li>
         </ul>
 </nav>
      <div class ="container">
     <form th:action="@{/saveUser}" method="post" onsubmit="return validateForm()">

        
        <h2>Registration</h2>
        <div class ="content">
        <div class="input-box">
        <label for="uname">User Name</label>
        <input type="text" id="uname" name="uname" placeholder="Enter Username" required>
        </div>
         <div class="input-box">
        <label for="address">Address</label>
        <input type="text" id="address" name="address" placeholder="Enter Address" required>

        </div>
        <div class="input-box">
        <label for="email">Phone</label>
        <input type="tel" id="phone" name="phone" placeholder="Enter Phone Number" required>
        </div>
       
        <div class="input-box">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Enter your valid email address" required>
        </div>
            <div class="input-box">
                <label for="city">CITY</label>
                <input type="text" id="city" name="city" placeholder="Enter your valid city " required>
            </div> <div class="input-box">
            <label for="state">State</label>
            <input type="text" id="state" name="state" placeholder="Enter your valid state" required>
        </div>
        </div> <div class="input-box">
          <label for="zip">Zip</label>
          <input type="number" id="zip" name="zip" placeholder="Enter your valid zip code " required>
      </div>
        <div class="input-box">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter New Password" required>
        </div>
        <div class="input-box">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm your password" required>
      </div>

            <span class="gender-title">Gender</span>
            <div class="gender-category">
                <input type="radio" name="gender" id="male">
                <label for="male">Male</label>
                <input type="radio" name="gender" id="female">
                <label for="female">Female</label>
                <input type="radio" name="gender" id="other">
                <label for="other">Other</label>
            </div>
      <div class="alert">
      <p>By Clicking sign up,you agree to our <a href="#">Terms, </a><a href="#">Privacy Policy,</a> and <a href="#">Cookies Policy.></a>You may receive SMS notifications from us and can opt out at any time.</p>
      </div>
     
      <div class="button-container">
        <button type="submit">Register</button>
      </div>
    </form>
        </div>
        
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
  </html>