<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="fragments/Dashbord :: header"></div>
</head>

<body>
<div th:replace="fragments/Dashbord :: navbar"></div>
<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
  <div class="container my-2">
    <div class="card">
      <div class="card-body">
        <div th:switch="${products}" class="container my-5">
          <div class="col-md-12">
            <table class="table table-striped table-responsive-md">
            <thead>
            <tr>

              <th>Image</th>
              <th>product ID</th>
              <th>Name</th>
              <th>Category</th>
              <th>Publisher Name</th>
              <th>Product Description</th>
              <th>Add to Wishlist</th>
              <th>Add to Cart</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">

              <td>
                <img th:src="@{/uploadImage/{filename}(filename=${product.image})}" width="100" height="100" alt="Product Image">
              </td>
              <td th:text="${product.id}"></td>
              <td th:text="${product.name}"></td>
              <td th:text="${product.category.name}"></td>
              <td th:text="${product.price}"></td>
              <td th:text="${product.description}"></td>
              <td>
                <button type="button" onclick="@{User/addCart/{productId}(productId=${product.id})}">Add Cart</button>
              </td>
              <td>
                <button type="button" onclick="@{/User/addWishList/{productId}(productId=${product.id})}">Add Tp WishList</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <script>

</script>

    </div>
  </div>
</div>
</body>
</html>
